/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table; 
    content: '';
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px; 
    margin: 0 auto;
}

/* First header */

#first-header {
    margin: 20px 0px;
}

#logo {
    width: 15%;
    margin-bottom: 20px;
}


#first-header a{
    text-decoration: none;
    color: #939393;
}

ul li{
    font-size: 16px;
    list-style: none;
    margin-right: 15px;
    padding: 5px 0px;
    height: 10px;
    display: inline;
}

h2 {
    font-size: 1.2em;
    color: #727272;
    padding: 15px 0px;
    font-weight: thin;
}

.side-content, #main-content {
    color: #929292;
}

/* Spotlight */

#spotlight, .overlay {
    border-radius: 20px;
}

#spotlight {
    margin-bottom: 20px;
    background-image: url('../css/img/banner.jpg');
    background-position: center;
    width: 100%;
    height: 430px;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#spotlight-text {
    color: white;
    position: absolute;
    width: 50%;
    bottom: 50px;
    left: 50px;
}

/* Content section */

.normal-text {
    color: #ACACAC;
}

#second-header {
    margin-bottom: 20px;
}

#title-second-header {
    font-size: 2.5em;
}

.sidebar {
    float: left;
    width: 25%;
    margin: 20px 0px;
}

main {
    float: left;
    width: calc(50% - 40px);
    margin: 0px 20px;
}

/* Overlay float sidebar images */

.float-overlay .float-image {
    display: block;
    width: 290px;
    height: 200px;
    object-fit: cover;
  }
  

.float-overlay {
    position: relative;
    width: 90%;
  }
  
  .float-overlay::before {
    width: 290px;
    height: 200px;
    object-fit: cover;
    content: '';
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
  }
 /* Overlay banner 2 image */

  .float-overlay-banner .float-banner {
    display: block;
    width: 550px;
    height: 200px;
    object-fit: cover;
  }
  

.float-overlay-banner {
    position: relative;
    width: 100%;
  }
  
  .float-overlay-banner::before {
    width: 550px;
    height: 200px;
    object-fit: cover;
    content: '';
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
  }

#main-content {
    width: 550px;
}

.side-content {
    width: 280px;
}

/* Footer */
footer {
    margin: 10px 0px;
    padding: 20px 0px;
    text-align: center;
}
 
#heart {
    color: red;
    font-size: 30px;
}