/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table; 
    content: '';
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px; 
    margin: 0 auto;
}

/* First header */

#first-header {
    margin: 20px 0px;
}

#logo {
    width: 15%;
    margin-bottom: 20px;
}


#first-header a{
    text-decoration: none;
    color: #939393;
}

ul li{
    font-size: 16px;
    list-style: none;
    margin-right: 15px;
    padding: 5px 0px;
    height: 10px;
    display: inline;
}

/* Spotlight */

#spotlight {
    height: 450px;
    background-color: #E1D67A;
    margin-bottom: 20px;
}

/* Content section */

#content-section {
    background-color: #2B86FF;
}

#second-header {
    background-color: #ABCFE7;
    height: 150px;
}

.sidebar {
    float: left;
    height: 700px;
    width: 25%;
    margin: 20px 0px;
    background-color: #ABCFE7;
}

main {
    float: left;
    height: 700px;
    width: calc(50% - 40px);
    margin: 20px 20px;
    background-color: #ABCFE7;
}

/* Footer */

footer {
    background-color: #8802FE;
    height: 100px;
    margin: 10px 0px;
}